@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-bg::before {
	--line: hsla(0, 0%, 95%, 0.116);
	--size: 50px;
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	background:
		linear-gradient(90deg, var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size),
		linear-gradient(var(--line) 1px, transparent 1px var(--size)) 50% 50% / var(--size) var(--size);
	mask: linear-gradient(-15deg, transparent 30%, white);
	top: 0;
	transform-style: flat;
	pointer-events: none;
	z-index: -1;
}